@import '../../scss/';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $white-300;
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding: 20px 2rem;
    .home-button {
      cursor: pointer;
    }
    .auth-nav-section {
      display: flex;
      flex-direction: row;
      column-gap: 16px;
      .nav-item {
        cursor: pointer;
        &:hover {
          color: $blue-500;
        }
      }
    }
  }
}
