@import '../../scss/';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $white-300;
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding: 25px 2rem;
    .home-button {
      cursor: pointer;
    }
    .header-search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      border-bottom: 1px solid black;
      .search-input {
        all: unset;
        width: 450px;
        height: 36px;
      }
      .search-button {
        cursor: pointer;
        margin-right: 10px;
      }
    }
    .auth-nav-section {
      display: flex;
      flex-direction: row;
      column-gap: 16px;
      .nav-item {
        cursor: pointer;
        &:hover {
          color: $blue-500;
        }
      }
    }
  }
}
