.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  .title {
    margin-bottom: 40px;
  }
  .title-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
    & > h5 {
      margin-left: 10px;
    }
  }
  .content {
    white-space: pre-line;
  }
}
