.create-post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  .form-section {
    width: 1120px;
    .create-form {
      display: flex;
      flex-direction: column;
      > input {
        margin-bottom: 20px;
      }
      > textarea {
        margin-bottom: 20px;
        height: 100px;
      }
    }
  }
}
